body {
  font-family: sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: .5px;
}

.small {
  font-size: .8em;
}

.falcons-i {
  background-color: rgb(31, 119, 180);
}

.patriots-i {
  background-color: rgb(31, 119, 180);
}

